astropy==5.2.1
astroquery==0.4.7.dev8076
attrs==22.2.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
cycler==0.11.0
exceptiongroup==1.1.0
fonttools==4.38.0
galpy==1.8.1
h5py==3.7.0
html5lib==1.1
idna==3.4
importlib-metadata==6.0.0
iniconfig==2.0.0
jaraco.classes==3.2.3
keyring==23.13.1
kiwisolver==1.4.4
matplotlib==3.5.1
more-itertools==9.0.0
numpy==1.23.4
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pluggy==1.0.0
pyerfa==2.0.0.1
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.7.1
pyvo==1.4
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.28.2
scipy==1.10.0
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
urllib3==1.26.14
webencodings==0.5.1
zipp==3.12.0
